
.bm-menu{
    background: linear-gradient(to top, #45cafc, #303f9f) !important;
    width: 300px;
    overflow: hidden !important;
}
.navbar{
    z-index: 1200;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}
.bm-item:focus{
    outline: none
}
.ant-divider-inner-text{
    color:white
}
.css-1r4vtzz{
    width: 16rem !important
}
.css-48ayfv{
    width: 16rem !important
}
.ant-switch{
    width: 16rem
}
.bg{
    background: linear-gradient(to left, #45cafc, #303f9f) !important
}
.rrs--options-visible {
    font-weight: bold
}
.rrs__multiselect-label__text{
    font-weight: bold;
}
.rrs__multiselect-label__badge {
    border: 1px solid black;
    padding: 1px 6px;
    margin: -2px 0 0 4px;
    border-radius: 8px;
    color: black;
    display: inline-block;
}
.rrs{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#btn-color{
    background-color: #1f3a93 !important;
}
.mapboxgl-popup-content{
    padding: 1px 3px 1px !important;
    margin:0;
    max-width: 15rem;

}
a{
    color: white !important;
}

a:hover{
    color: grey !important;
}
a.card-footer__rating:hover{
    color: gold !important;
}
a.card-footer__likes:hover{
    color: lightblue !important
}
#hours{
    margin-left: 0.2rem;
}
.ant-radio-button-wrapper{
    padding: 0px 40px !important;
    color: #1f3a93;
    font-weight: 500;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: #1f3a93!important ;
    border-color: #1f3a93!important;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
}


